:root {
  --lc-primary: #0e2677;
  --lc-secondary: #1c39cb;
}

.smallBtn {
  border-bottom: 2px solid var(--lc-primary);
  width: max-content;
  color: var(--lc-primary);
}
.bigBtn {
  background-color: var(--lc-secondary);
  color: white;
  border-radius: 5px;
  padding: 6px;
}
.header {
  color: var(--lc-primary);
}

.customTableHeader >>> thead.v-data-table-header tr {
  border-bottom: 2px solid var(--lc-primary);
  font-size: 1.5rem;
}
.inputBox {
  padding: 0;
  border: 2px solid var(--lc-primary);
  border-radius: 0px;
}

